 @import url("https://use.typekit.net/eqf8gek.css");
 @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');


 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    width: 403px;
    height: 874px;
    border: 1px solid black;

    overflow: hidden;

 }

 :root {
    --background-color: linear-gradient(180deg, #BC9595 0%, #885979 50%, #211337 100%);
    --gold: #FDE2B6;
    --dark-purple: #342043;
    --light-purple: #BC9595;
    --heading-font: "quiche-flare", sans-serif;
    --sub-heading: "Faculty Glyphic", sans-serif;

 }

 /* ---------------------------- H1,H2,H3 STYLING ---------------------------- */

 h1 {
    text-align: center;
    color: var(--dark-purple);
    font-family: var(--sub-heading);
    font-weight: 600;
    font-size: 3rem;

 }

 /* ------------------------------ STYLING HERE ------------------------------ */

 main {
    background: var(--background-color);

    width: 100%;
    height: 100%;

    position: relative;


    overflow-x: hidden;
    /* overflow-y: scroll; */
 }

 .borderdesign {
    position: absolute;
    top: 0;

    width: 100%;
    height: fit-content;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 3rem 1rem;
    /* padding: inherit; */
 }

 /* ------------------------------ INFO SECTION ------------------------------ */

 .infopage {
    display: flex;
    align-items: center;
    /* justify-content: flex-start; */
    flex-direction: column;
    gap: 3rem;

    width: 100%;
    height: 100%;

    padding: 5rem 0 0 0;


    border: 1px solid blue;

    h1 {
       text-align: center;
       width: 100%;
    }

 }

 .card-holder {
    width: 200px;
    height: auto;
 }

 /* ------------------------------- TAB CONTENT ------------------------------ */

 .tablinks {
    background: none;
    border: none;
    font-family: var(--sub-heading);
    font-size: 2rem;
    padding: 1.25rem 1rem;
 }